<h1>Here is your Article:</h1>

	<%= @article.title%>
	<br>
	<%= @article.content%>
	<br><br>

	
	<input type="button" onclick="location.href='/articles/<%= @article.id%>/edit';"  value="Edit">

	<form name = "name" method="post" action="/articles/<%= @article.id%>">
		<input id="hidden" type="hidden" name="_method" value="delete">
			<input type="submit" name="submit" value="Delete">


	</form>
	<a href="/articles">Go back to the list</a>

